/*
================================================================================
|                         JELLYFIN 10.11 FIXES                                  |
================================================================================
*/

.layout-desktop .itemMiscInfo {
    margin-left: -46vw !important;
}

.layout-desktop .nameContainer {
    margin-left: -46.5vw !important;
}

.detailImageContainer {
    margin-left: -4vw !important;
    margin-top: -8vw !important;
}

.nextUpSection  {
    order: 5 !important;
}
div#listChildrenCollapsible {
    order: 6 !important;
}
.detailSectionContent {
    order: 0 !important;
}

.itemDetailsGroup {
    order: 3 !important;
}

.collectionItems {
    order: 6 !important;
}

.collectionItems .sectionTitleContainer-cards {
    padding-left: 0 !important;
}

.mainDetailButtons {
    margin-left: -5em;
}

.layout-desktop .itemBackdrop,
.layout-tv .itemBackdrop {
    height: 45vh !important;
}

.layout-tv .sectionTabs {
	width: fit-content;
	margin-inline: auto !important;
}


/*
================================================================================
|                        Dashboard Styles
|            These do not work natively, need to be injected
================================================================================
*/


/* Server */
.css-1787okl, .css-znfy44 {
  border-radius: 20px !important;
  background: var(--secondary-background-transparent) !important;
}

/* Media chips */
.css-1yr4dn5, .css-lh4h8w, .css-nqwc7a, .css-hkers1, .css-11qg7pw, .css-q0e3wl, .css-wnfue5, .css-46ocr5 {
  border-radius: 20px !important;
  background: var(--secondary-background-transparent) !important;
}

/* Activity, Alerts and Paths */
.css-1m91j26, .css-1ypqulw {
  border-radius: 20px !important;
  padding: 0px !important;
  background: var(--alt-accent-color) !important;
}

/* Devices, Plugins Footer */
.css-4beb5o, .css-sxfj10, .css-1brmtja, .css-1yd4q9n {
  background: var(--secondary-background-transparent) !important;
}

/* Devices Card */
.css-1yd4q9n {
  border-radius: 20px !important;
}

/* Header */
header.MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation4.MuiAppBar-root.MuiAppBar-colorDefault.MuiAppBar-positionFixed.mui-fixed.css-jz1vtw {
  background: none !important;
  box-shadow: none !important;
}


/* Bigger and centered server buttons */
.MuiStack-root.css-11r6nok {
    height: 3em;
    display: flex;
    justify-content: center;
}

/* Server Buttons */
.MuiStack-root.css-11r6nok button:nth-child(1) {
  background: rebeccapurple !important;
  color: white !important;
}

.css-jqp64h {
  background: rebeccapurple !important;
  color: white !important;
  border: none !important;
}

.MuiStack-root.css-11r6nok button:nth-child(2) {
  background: #ff9800 !important;
  color: white !important;
}
.MuiStack-root.css-11r6nok button:nth-child(3) {
  background: #f44336 !important;
  color: white !important;
}

/* Activity list items */
.MuiList-root:not(.MuiList-subheader) .MuiListItemButton-root.MuiListItemButton-gutters {
    padding: 10px 30px 10px 30px !important;
}

/* Links */
.css-c4z1po {
    color: var(--primary-accent-color) !important;
    --Link-underlineColor: var(--primary-accent-color) !important;
}

/* save button and help button*/
.css-ybuz3k, .fab, .raised {
    color: var(--text-color) !important;
    background: var(--primary-accent-color) !important;
}

/* Switches */

.css-1fmeo47.Mui-checked {
    color: var(--primary-accent-color);
}
.css-1fmeo47.Mui-checked + .MuiSwitch-track {
    background-color:  var(--secondary-accent-color);
}

/* Branding buttons */
.css-1vcmsp6, .css-nu23t2 {
    border-radius: 15px;
    font-weight: 600;
}


/* Devices Table */
.css-mq8hip, tr, tr.MuiTableRow-root.css-vag9oz, .css-j5zxs1, tr.MuiTableRow-root.css-1cksag5  {
    background-color: transparent !important;
}

/* Table Headers */
.css-wsew38 {
    justify-content: flex-end;
}

input.PrivateSwitchBase-input.css-j8yymo, .css-5191sg.Mui-focused {
    color: var(--primary-accent-color) !important;
}

.css-1y99tin::after, .css-g193a2::after {
  border-bottom: 1px solid var(--primary-accent-color);
}

/* Checkboxes */
span.MuiButtonBase-root.MuiCheckbox-root.MuiCheckbox-colorPrimary.MuiCheckbox-sizeMedium.PrivateSwitchBase-root.MuiCheckbox-root.MuiCheckbox-colorPrimary.MuiCheckbox-sizeMedium.Mui-checked.MuiCheckbox-root.MuiCheckbox-colorPrimary.MuiCheckbox-sizeMedium.css-1a194ku {
    color: var(--primary-accent-color);
}

/* Buttons in plugin page */
.css-1ejoxfo, .css-1ejoxfo:hover, .css-1ejoxfo.Mui-focusVisible {
    background-color: var(--primary-accent-color);
}
/* manage repository button */
.css-cr7oyo {
    background-color: var(--secondary-accent-color);
    color: var(--text-color);
    border-radius: 20px;
    font-weight: 500;
    border: 0;
}

/* Progress % for scheduled tasks */
.MuiBox-root.css-lmbv6g {
    color: var(--primary-accent-color);
}

/* Dashboard Theme Update Date */
.css-cdamzk > .css-1787okl::after {
    content: "Theme last updated on " var(--theme-updated-on, "..........");
    display: block;
    background-color: var(--alt-accent-color);
    border-radius: var(--rounded-cards);
    padding: 1em;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    margin: 10px 0px;
}


/* Progress track */
.MuiLinearProgress-root {
  height: 10px;
  border-radius: 999px;
  overflow: hidden;
  background: var(--secondary-background-transparent) !important;
}
.MuiLinearProgress-bar {
  background: var(--primary-accent-color) !important;
  border-radius: inherit;
}
.css-lmbv6g .MuiTypography-root {
  font-weight: 600;
}


